{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<br><br><br><br>
<center>
<table id="test1" width=100%>
<tr>
  <td width=33%>
    {% if admin == 1 %}
    <!-- Left Side -->    
    <table><tr><td>
      ADMIN ONLY<br>
      {% if inside == 0 %}
        <img src="data:image/png;base64,{{imagen_5.imagen_5}}"><br><br>
      {% else %}
        <img src="data:image/png;base64,{{imagen_5_cir.imagen_5_cir}}">
      {% endif %}
      <form>
        <label id="inlabel"></label><br><br>
        <input type="button" value="Square" onclick="click_square()">
        <input type="button" value="Circle" onclick="click_circle()">
      </form>     
    </td></tr></table>   
    {% endif %}
  </td>

  <td width=33%>
<font size=8>{{trial}} OF {{hit}}</font><br>
<img src="data:image/png;base64,{{imagen.imagen}}"><br>
<!-- {{ user }}<br> -->
<!-- <font size=5>Please rate your confidence using the slider</font><br> -->
<!-- (<font color='purple'>Purple</font> = 1, <font color='green'>Green</font> = 0)<br> -->
<form action='/test', method='POST' onsubmit="disable()">
  
  <!-- <input oninput="rangeFunction()" type="range" min="0.00" max="100.0" class="sliders" id="myRange"> -->
  <!-- <label id="result"></label><br> -->

  <div class="container">  
    <div class="range-slider">
      <!-- <span id="rs-bullet" class="rs-label">0</span> -->
      <input id="myRange" class="rs-range" type="range" value="0" min="0" max="100">      
    </div>    
    <div class="box-minmax">
      <span><font color='green'>Definitely<br> GREEN</font></span>Equally likely<span><font color='purple'>Definitely<br> PURPLE</font></span>
    </div>    
  </div>

  <input type="hidden" id="hidden" name="est"> <!-- estimated posterior --> 
  <input type="hidden" value={{trial}} name="trial"> <!-- current trial # -->
  <input type="hidden" value={{hit}} name="hit"> <!-- total # hit -->
  <input type="hidden" value={{user}} name="user"> <!-- user ID -->
  <input type="hidden" value={{real}} name="real"> <!-- true posterior -->
  <input type="hidden" value={{pick}} name="pick"> <!-- choose simulation -->
  <input type="hidden" value={{mtype}} name="mtype"> 
  
  <input type="hidden" value={{r_est}} name="r_est"> <!-- catch trial real est -->    
  <input type="hidden" value={{cidx}} name="cidx"> <!-- catch trial index -->
  <input type="hidden" value={{score}} name="score"> <!-- catch trial score -->
  <input type="hidden" value={{c_real}} name="c_real"> <!-- catch trial key -->  

  <input type="hidden" value={{sampleN}} id="sampleN" name="sampleN"> <!-- total # sample -->
  <input type="hidden" id="inside" value={{inside}} name="inside"> <!-- square/circle bbox -->
  <input type="hidden" value={{X}} name="X"> <!-- X-coordinates -->  
  <input type="submit" value="Submit" id="submit" enable>  

  <!-- {{cidx}} -->

  <!-- <input type="submit" value="Lock" id="lock" onclick="enable()"> -->
  <!-- <input type="submit" value="Submit" id="submit" disabled> -->
</form>

<br>
<!-- <div class="myBar label-center"></div>
<script>
  var bar = new ldBar(".myBar", {
  //  "stroke": '#f00',
   "stroke-width": 10,
  //  "preset": "fan",
   "value": 0
  });

  bar.set(
  100,     /* target value. */
  true   /* enable animation. default is true */
);
</script> -->
</td>

<td width=33%><!-- Right Side -->
  {% if admin == 1 %}
  <table><tr><td>
    ADMIN ONLY<br>
    <img src="data:image/png;base64,{{imagen_admin.imagen_admin}}"><br>
    {% if mtype == 0 %}Gaussian XOR
    {% elif mtype == 1 %}Gaussian R-XOR
    {% elif mtype == 2 %}Gaussian S-XOR
    {% elif mtype == 3 %}Uniform XOR
    {% elif mtype == 4 %}Spiral
    {% endif %}
    (mtype = {{mtype}})
    
    <br><br>
    <table width=100%><tr>
      <td width=35%>
        <!-- Work in progress -->
        <!-- <form action='/test', method="POST"><p>
          <input type="checkbox" value=0 name="dset0">Gauss XOR<br>  
          <input type="checkbox" value=1 name="dset1">Gauss R-XOR<br>  
          <input type="checkbox" value=2 name="dset2">Gauss S-XOR<br>  
          <input type="checkbox" value=3 name="dset3">Uniform XOR<br>  
          <input type="checkbox" value=4 name="dset4">Sprial<br></p>
        </form> -->
      </td>
      <td width=30%>
        Sample size<br>

        <form action='/test', method="POST">
          <input oninput="textFunction()" type="text" value={{sampleN}} id="sampleN_text"><br>  
        </form>
    
        <br>
    
        <form action='/'>
          <input type="submit" value="Reset" id="next" onclick="disable()">
        </form>
      
        <form action='/readbyDate'>
          <input type="submit" value="Read DB" id="next">
        </form>
      </td>
      <td width=35%></td>
    </tr></table>

  </td></tr></table>
  {% endif %}
</td>

</tr>
<tr><td colspan="3">
  {% if admin == 1 %}
  <table><tr><td>
    ADMIN ONLY <br>
    {% if mtype == 0 %}
    <img src="{{ url_for('static', filename='post/2020-11-27_Gaussian XOR_figures.png') }}" id="bottom">
    <img src="{{ url_for('static', filename='post/2020-11-27_Gaussian XOR_bar.png') }}" id="sidebottom">
    {% elif mtype == 1 %}
    <img src="{{ url_for('static', filename='post/2020-11-27_Gaussian R-XOR_figures.png') }}" id="bottom">
    <img src="{{ url_for('static', filename='post/2020-11-27_Gaussian R-XOR_bar.png') }}" id="sidebottom">
    {% elif mtype == 2 %} <!-- CHOSEN S-XOR -->
    <img src="{{ url_for('static', filename='post/2020-11-27_Gaussian S-XOR_Cfigures.png') }}" id="bottom">
    <img src="{{ url_for('static', filename='post/2020-11-27_Gaussian S-XOR_Cbar.png') }}" id="sidebottom">
    {% elif mtype == 3 %}
    <img src="{{ url_for('static', filename='post/2020-11-27_Uniform XOR_figures.png') }}" id="bottom">
    <img src="{{ url_for('static', filename='post/2020-11-27_Uniform XOR_bar.png') }}" id="sidebottom">
    {% elif mtype == 4 %} <!-- CHOSEN SPIRAL -->
    <img src="{{ url_for('static', filename='post/2020-11-27_Spiral_Cfigures.png') }}" id="bottom">
    <img src="{{ url_for('static', filename='post/2020-11-27_Spiral_Cbar.png') }}" id="sidebottom">
    {% endif %}
  </td></tr></table>
  {% endif %}
</td></tr>

</table>
</center>

{% endblock %}

